* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: ivory;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.result-text {
  opacity: 1;
  font-size: 40px;
}

p {
  opacity: 0.5;
}

.display-calc {
  background-color: white;
  height: 30%;
  border-radius: 20px;
  justify-content: center;
  align-items: end;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.calc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90%;
  justify-content: space-around;
  min-width: 280px;
  width: 30%;
  max-width: 30%;
  background-color: pink;
  border-radius: 20px;
  padding: 15px;
}

div {
  gap: 10px;
}

button {
  height: 60px;
  width: 60px;
  border-radius: 15px;
  border: transparent;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.addition_button {
  margin-top: 10px;
  opacity: 1;
}

.subtraction button {
  opacity: 1;
}
.equals_button {
  height: 130px;
}

.invisible_button {
  visibility: hidden;
}
.column {
  display: flex;
  flex-direction: column;
}
